body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.am-tab-bar {
  width: 100%;
  height: initial !important;
  position: fixed;
  left: 0;
  bottom: 0;
}

#chat-page .chat-me .am-list-extra {
  flex-basis: auto;
}

#chat-page .chat-me .am-list-content {
  padding-right: 15px;
  text-align: right;
}

.stick-footer {
  z-index: 10;
  position: absolute;
  bottom: 0;
  width: 100%;
}